.scroll-to-top-button {
     position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #eabec3;
    color: #fff;
    border: none;
    font-weight: bolder;
    padding: 10px 15px;
    border-radius: 52px;
    cursor: pointer;
    transition: opacity 0.3s;
}


.hide{
    display: none;
}
