.paralaxBg{
    background-color:#f9e7d9;
   
}


@media only screen and (max-width: 890px){
    
    .titleAccueil{
        text-align: center;
        margin: 15px;
    }

   .parentInfo{
    flex-direction: column;
    margin: 50px;
    height: 100%!important;
   }

   .sonInfo {
    text-align: center!important;
    margin-right:0px!important;
   }

   .react-parallax-bgimage{
    width: 1050px !important;
    height: 100% !important;
    background-size: cover!important;
    
   }
}

@media only screen and (max-width: 500px){

   .react-parallax-bgimage{
    width: 1000px !important;
    height: 100% !important;
    opacity: 0.8;
    background-size: cover!important;
    
   }
}